/- top_level_categories = @current_community.top_level_categories.reject { |c| c.id == @category.id }
- categories = @current_community.categories.reject { |c| @category.with_all_children.map(&:id).include?(c.id) }
- if categories.size > 0
  .row
    .col-12
      = form.label :parent_id, t(".category_parent")
      /= form.select :parent_id, category_options_html(categories, @category.parent_id).html_safe
      = form.select :parent_id, category_options_html_for(@category).html_safe
