%p
  يمكنك تحديد المدة التي تريد ان يبقى عرضك مفتوح للآخرين . بعد تاريخ الانتهاء سوف يتم إغلاق العرض تلقائيا. العرض المغلق لن يظهر للآخرين في قائمة المعروضات . يمكنك تغيير تاريخ الانتهاء في أي وقت من خلال الضغ على قائمة تعديل المعروض. يمكنك أيضا إعادة فتح المعروض من نفس القائمة ، إذا كان لايزال متاح.
