/ Page Header start
%header.header{:style => "background:url('/assets/header.png') no-repeat;"}
  .header-wrapper
/ Page Header End
/ Page Search start
%section.marketplace-lander{:style => "background:url('/assets/search.png') no-repeat; height:96px;"}
  %div
/ Page Search End
/ Page Content start
%article.page-content
  .wrapper
    / Developer will use the following code to add the calendar
    .calendar-wrapper.clearfix
      .main-calendar
        .calendar-actions
          .cal-year
            %strong 2015
            %a.prev-year{:href => "javascript:;", :title => "Previous year"}
            %a.next-year{:href => "javascript:;", :title => "Next year"} >
          .cal-month
            %ul.clearfix
              %li
                %a{:href => "javascript:;"} Jan
              %li
                %a{:href => "javascript:;"} Feb
              %li
                %a{:href => "javascript:;"} Mar
              %li
                %a{:href => "javascript:;"} April
              %li
                %a{:href => "javascript:;"} May
              %li
                %a{:href => "javascript:;"} June
              %li
                %a{:href => "javascript:;"} July
              %li
                %a{:href => "javascript:;"} Aug
              %li
                %a{:href => "javascript:;"} Sept
              %li
                %a{:href => "javascript:;"} Oct
              %li
                %a.current{:href => "javascript:;"} Nov
              %li
                %a{:href => "javascript:;"} Dec
        .days-container
          %ul.days-of-week.clearfix
            %li Sat
            %li Sun
            %li Mon
            %li Tue
            %li Wed
            %li Thu
            %li Fri
          %ul.days-list.clearfix
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 1
              .tile-price
                %span $300
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 2
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 3
              .tile-price
                %span $180
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 4
              .tile-price
                %span $120
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 5
              .tile-price
                %span $200
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 6
              .tile-price
                %span $200
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 7
              .tile-price
                %span $200
          %ul.days-list.clearfix
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 8
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 9
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 10
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 11
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 12
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 13
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 14
          %ul.days-list.clearfix
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 15
              .tile-price
                %span $140
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 16
              .tile-price
                %span $140
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 17
              .tile-price
                %span $500
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 18
              .tile-price
                %span $200
            %li.tile.tile-has-data.selected{:title => "Click to edit"}
              .tile-date
                %span.day-number 19
              .tile-price
                %span $120
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 20
              .tile-price
                %span $120
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 21
              .tile-price
                %span $200
          %ul.days-list.clearfix
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 22
              .tile-price
                %span $300
            %li.tile.tile-has-data{:title => "Click to edit"}
              .tile-date
                %span.day-number 23
              .tile-price
                %span $180
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 24
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 25
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 26
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 27
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 28
          %ul.days-list.clearfix
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 29
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number 30
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number Dec 1
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number Dec 2
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number Dec 3
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number Dec 4
            %li.tile{:title => "Click to edit"}
              .tile-date
                %span.day-number Dec 5
      .selected-content
        .edit-day-form
          .day-form-content
            Select any day to
            %strong Edit
            it.
        .edit-day-form
          %p.form-title
            %strong Edit Status, November 19
          .day-form-content
            .radiobutton
              %label.current
                %input{:checked => "checked", :name => "", :type => "radio"}/
                Not Available
            .radiobutton
              %label
                %input{:name => "", :type => "radio"}/
                Available
          .form-actions
            %button.btn SAVE
            %a.btn{:href => "javascript:;"} Cancel
        .edit-day-form
          %p.form-title
            %strong Edit Status, November 19
          .day-form-content
            .radiobutton
              %label.current
                %input{:name => "", :type => "radio"}/
                Not Available
            .radiobutton
              %label
                %input{:checked => "checked", :name => "", :type => "radio"}/
                Available
            .edit-price
              %p Price for the night ($)
              %input{:placeholder => "Ex: 200", :type => "text"}/
          .form-actions
            %button.btn SAVE
            %a.btn{:href => "javascript:;"} Cancel
    / Developer's Code End
/ Page Content End
