%p
  يمكنك إعطاء التقييم للمستخدمين الآخرين في كل مرة تعرض عليهم عرضا أو تطلب منهم عرضا. من خلال التقييم يمكنك التعبيرعن إذا كانت تصرفات الطرف الآخر كما هو متوقع أو لا. يمكن للمستخدمين الآخرين الاطلاع على هذه المعلومات في صفحة الملف الشخصي للعضو الآخر، ويمكن استخدامه لتسهيل عملية اتخاذ القرار ما إذا كانوا يرديون التعامل مع هذا العضو في المستقبل أو لا. وهذا يعني أنه عند تلقي اي تقييمات إيجابية،  ذلك سوف يضمن نجاح أفضل في العروض والطلبات في المستقبل. وبالتالي، فإنه من الجيد أن نتذكر دائما أن نعطي تقييمات حقيقة بموجب التعامل السابق، وكذلك تذكير الطرف الآخر لإعطاء تقييم لك.

%p
  التقييمات في #{service_name} تتكون من تقييم رقمي ونصي. التقييم الرقمي يكون مابين 1 (أسوأ من ماهو متوقع) و 5 (أفضل من ماهو متوقع). في حالة إعطاء تقييم محايد تحتاج الى شرح مالذي اعجبك أو الذي لم يعجك في التعامل.

%p
  On this page you can view following information about the user whose profile your viewing: the average of all the numeric evaluations, the amounts of different feedback ratings and a list of all feedback with textual descriptions. The facial expression of the Kaapo figure in each feedback describes the numeric evaluation associated to that feedback. If the event went according to expectations or exceeded them, the background color of the feedback is light green, otherwise it is light red.
