// The fonts file has to be the first one, since there are @imports in the fonts file
//= require ./fonts

// Vendor
//= require nouislider.min
//= require jquery.fileupload
//= require datepicker3
//= require selectize
//= require chosen_v1.4.2/chosen

//= require ./reset
//= require ./main.rtl

//= require_tree ./partials
//= require_tree ./views

body {
  direction: rtl;
  .left {
    float: right;
  }
  .right {
    float: left;
  }
}

.datepicker-end-wrapper {
  float: left;
}

.datepicker-start-wrapper {
  float: right;
}

.header-right-locates {
  position: relative;

  #header-locales-toggle-menu {
    right: 0;
    left: auto;
  }
}
