!!!
/[if lt IE 7] <html lang="en" class="no-js oldie ie6">
/[if IE 7 ] <html lang="en" class="no-js oldie ie7">
/[if IE 8 ] <html lang="en" class="no-js oldie ie8">
/ [if (gt IE 8)|!(IE)]><!
%html.js.no-touch.no-androidprejellybean{:dir => "", :lang => "en", :style => ""}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Garebaat | Calendar
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/site-styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    :css
      /* Calendar Styles go here */
          .calendar-wrapper {font-family: arial; color: #666; font-size: 13px; line-height: 20px; direction: rtl;}
          .calendar-wrapper ul{ padding: 0; list-style: none;}
          .main-calendar{ float: right; width: 75%;}
          .selected-content{ float: left; width: 25%; padding-right: 20px; padding-top: 97px;}

          .calendar-actions{ text-align: center;}
          .cal-year{ position: relative; height: 40px; margin-bottom: 10px;}
          .cal-year strong{ color: #22608d; font-size: 34px; margin-top: 8px; display: inline-block;}
          .cal-year a{ position: absolute; top: 0px; display: inline-block; width: 40px; height: 40px; padding: 7px; border: 1px solid #ccc; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font-family: tahoma; font-size: 24px;}
          .cal-year a:hover{ background:#f7f7f7;}
          .cal-year a.prev-year{ right: 0;}
          .cal-year a.next-year{ left: 0;}

          .cal-month{ margin-bottom: 10px;}
          .cal-month ul{ display: inline-block;}
          .cal-month li{ float: right;}
          .cal-month li a{padding: 5px 10px; display: block; border: 1px solid #ccc; border-right: none; font-size: 14px;}
          .cal-month li a:hover{ background: #f7f7f7;}
          .cal-month li a.current{ font-weight: bold; color: #fff; background: #22608d; cursor: default; border-color: #22608d }
          .cal-month li:first-child a{border-right: 1px solid #ccc; border-radius: 0 15px 15px 0; -moz-border-radius: 0 15px 15px 0; -webkit-border-radius: 0 15px 15px 0;}
          .cal-month li:last-child a{ border-radius: 15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; -webkit-border-radius: 15px 0 0 15px;}

          .days-of-week{ display: table-row;}
          .days-of-week li{ display: table-cell; padding: 3px 5px;}

          .days-container{ display: table; width: 100%; border: 1px solid #ccc;}
          .days-list{display: table-row;}
          .days-list li{ border-left: 1px solid #ccc; border-top:1px solid #ccc; display: table-cell; padding:0 5px; background: #f7f7f7; font-size: 14px; cursor: pointer; height: 90px;}
          .days-list li:last-child{ border-left: none;}
          .days-list li.tile-has-data { background: #fff; position: relative;}
          .days-list li.tile-has-data:before{width: 0; height: 0; border-style: solid; border-width: 15px 15px 0 0;
      border-color: #ffb700 transparent transparent transparent; position: absolute; top: 0; left: 0; content: " ";}
          .days-list li:hover , .days-list li.selected{ box-shadow: 0 0 5px #ccc inset}
          .tile-price{ margin-top: 45px; font-weight: bold;}

          .edit-day-form{margin-bottom: 20px;}
          .edit-day-form .day-form-content{ background: #f7f7f7; padding: 15px;}
          p.form-title{ text-align: center; margin-bottom: 5px;}
          .radiobutton label{ margin: 0; cursor: pointer; font-weight: normal; margin-top: 5px;}
          .radiobutton label:hover , .radiobutton label.current{ color: #22608d; }
          .radiobutton input{ position: relative; top: 2px; margin-left: 3px;}

          .edit-price{ padding: 10px; background:#fff; margin-top: 10px;}
          .form-actions{ padding: 15px; border-top:1px dashed #ccc; background: #eeeeee; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;}
          .form-actions .btn{display: inline-block; font-size: 14px; height: auto; line-height: 18px; margin: 0; padding: 10px;}
          .form-actions button.btn{ font-weight: bold; padding: 10px 25px;}
  %body
    = yield
